body{  
  color: #fff;
  background: rgb(36,0,4);
  background: linear-gradient(105deg, rgba(36,0,4,0.989233193277311) 26%, rgba(0,212,255,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}